body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  position: relative;
}


/* Header */
header {
  color:#2d6375;
  z-index: 1;
  padding: 5% 0%;
  text-align: center;
  background-color: #2d637535;
  width: 100%; /* Imposta la larghezza al 100% */
  height: auto; 
  position: relative;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

@media (max-width: 768px) {
  header {
      padding: 5%; /* Maggiore padding per mobile */
  }

  #header-container {
      flex-direction: column; /* Imposta la direzione verticale per il mobile */
      align-items: center; /* Allinea al centro */
  }

  .project {
    background-color: #f3b57c00;
    border-radius: 15px;
    margin: 20%;
    width: 55%;
    text-align: center;
    transition: transform 0.3s;
    filter: drop-shadow(0 4px 10px #3333333c);
  }
  
}


.logo {
  width: 150px;
  /* Dimensione del logo */
  margin-left: 50px;
}


nav ul {
  list-style: none;
  padding: 0px;
  margin-top: 5%;
  margin-bottom: 0%;
  display: inline-flex;
  gap: 20px;
  justify-content: center;

}

nav li {
  background-color: #4f879a7f;
  padding: 5px 20px;
  border-radius: 15px;
}


nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;

}

nav a:hover {
  color: #e4ba86;
  /* Colore al passaggio del mouse */
}

#aboutme {
  margin-right: 5%;
  align-self: flex-end;
  /* Posiziona a destra */
  text-align: right;
  /* Testo a destra */
  justify-content: center;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 0;
}


.clickable-container {
  display: flex;
  justify-content: center;
  position:sticky;
  margin-top: 5%;
  z-index: 3;
  margin-bottom: 2%;
  flex-direction: row; /* Disporre gli elementi in colonna */
  gap: 10px; 
}


.clickable-section1,
.clickable-section2,
.clickable-section3 {
  cursor: pointer;
  background-color: #f0f4f800;
  color: #33333362;
  padding: 0% 3%;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
  position: relative;
  z-index: 3;
  max-height: fit-content;
  width: 15%;
}

.clickable-section1:hover,
.clickable-section2:hover,
.clickable-section3:hover {
  transform: scale(1.05);
  /* Effetto ingrandimento al passaggio del mouse */
  color: #333333;
}

.clickable-section1::after,
.clickable-section2::after,
.clickable-section3::after {
  content: "";
  display: block;
  width: 1px;
  height: 25px;
  background-color: #3333339b;
  margin: 10px auto 0;
}


/* Progetti */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
  margin-top: 0%;
  margin-bottom: 5%;
  position: relative;
  /* Necessario per applicare z-index */
  z-index: 1;

}

.project {
  background-color: #f3b57c00;
  border-radius: 15px;
  margin: 2%;
  width: 25%;
  text-align: center;
  transition: transform 0.3s;
  filter: drop-shadow(0 4px 10px #3333333c);
}

.project:hover {
  transform: scale(1.08);
  /* Effetto ingrandimento al passaggio del mouse */
  filter: drop-shadow(0 4px 10px #3333333c);
}

.project img {
  border-radius: 15px 15px;
  width: 100%;
  /* Immagine a piena larghezza */
  height: auto;
}


.project h1,
.project p {
  margin: 15px;
  color: #333333;
  /* Colore del testo */
}



/*social*/

.social {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 5%;
  gap: 10px;

}

.social a {
  color:#2d6375;
  margin: 0 10px;
  transition: color 0.3s;

}

.social a:hover {
  color: #e4ba86;
}


/*form*/

/* Stile del form */
.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  /* Larghezza massima */
  margin: 40px auto;
  /* Centrato */
  margin-top: 10%;
  margin-bottom: 15%;
  position: relative;
  /* Necessario per applicare z-index */
  z-index: 1;
}

.form-container h2 {
  color: #2d6375;
  /* Colore del titolo del form */
  text-align: center;
}

label {
  display: block;
  margin: 15px 0 5px;
  color: #333333;
  /* Colore del testo */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  /* Include padding e border nella larghezza */
}

input[type="submit"] {
  background-color: #2d6375;
  /* Colore del pulsante */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #a8dadc;
  /* Colore al passaggio del mouse */
}

/* Footer */
footer {
  background-color: #2d6375;
  color: #ffffff;
  text-align: center;
  padding: 3% 0%;
  width: 100%;
}

.logo2 {
  width: 100px;
  /* Dimensione logo footer */
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-icons a {
  color: #ffffff;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #a8dadc;
  /* Colore al passaggio del mouse */
}